{% extends 'PPSystemMainBundle::layout.html.twig' %}
{% form_theme form 'PPSystemMainBundle:Form:domain_analisys_table_layout.html.twig' %}

{% block title %}PPSystem{% endblock %}

{% block content %}
<div class="form">
    <h3>Domains analysis</h3>
    <form action="{{ path('domain_analysis') }}" method="post" >
        {{ form_errors(form) }}
        <div class="form">
            <div id="domains" style="float: left; border: 0px solid black; width: 270px; overflow: hidden; resize: none; ">
                {{ form_widget(form.domains , { 'attr': {'cols': '30', 'rows': '20'}} ) }}
            </div>
            <div id="google_options" style="float: left; width: 100px;">
                {{ form_row(form.google.options, {'label': 'Google'}) }}
            </div>
            <div id="yandex_options" style="float: left; width: 100px;">
                {{ form_row(form.yandex.options, {'label': 'Yandex'}) }}
            </div>
            <div id="other_options" style="margin-left: 470px; width: 100px;">
                <span class="form_label">Others</span>
                <span class="form_widget">
                    <div id="DomainAnalisysForm_others_options">
                        <span class="choice_widget">{{ form_widget(form.alexa, {'label': 'Alexa', 'attr': { 'class': 'choice_widget' } }) }}</span>
                        <span class="choice_label">{{ form_label(form.alexa) }}</span>
                        <br />
                        <span class="choice_widget">{{ form_widget(form.dmoz, {'label': 'DMOZ', 'attr': { 'class': 'choice_widget' } }) }}</span>
                        <span class="choice_label">{{ form_label(form.dmoz) }}</span>
                        <br />
                        <span class="choice_widget">{{ form_widget(form.whois, {'label': 'WHOIS', 'attr': { 'class': 'choice_widget' } }) }}</span>
                        <span class="choice_label">{{ form_label(form.whois) }}</span>
                        <br />
                    </div>
                </span>
            </div>
            <input type="submit">
        </div>
        {{ form_row(form._token) }}
    </form>
</div>

{% if results is defined %}
<div id="results">
    <table class="serp_results">
        <tr>
            <th>Domain</th>
            <th>GI</th>
            <th>PR</th>
            <th>YC</th>
            <th>DMOZ</th>
            <th>Alexa</th>
            <th>Whois</th>
            <th>WebArchive</th>
            <th>DNS</th>
            <th>Trends</th>
            <th>Yahoo backlinks</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item.fqdn }}</td>
            <td>{% if item.google.indexed is defined %} {{ item.google.indexed }} {% endif %}</td>
            <td>{% if item.google.pr is defined %} {{ item.google.pr }} {% endif %}</td>
            <td>{% if item.yandex.yc is defined %} {{ item.yandex.yc }} {% endif %}</td>
            <td>{% if item.dmoz is defined %} {{ item.dmoz }} {% else %} N/A {% endif %}</td>
            <td>{% if item.alexa is defined %} {{ item.alexa }} {% endif %}</td>
            <td>{% if item.whois is defined %} {{ item.whois.busy ? 'Busy' : 'Free' }} {% endif %}</td>
            <td>{% if item.dns is defined %} {{ item.dns }} {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<span class="noresults">No results</span>
{% endif %}
{% endblock %}